body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.form-container {
    width: 90%;
    max-width: 480px;
    margin: 40px auto;
    padding: 20px;
    border: 5px outset #e7ff4d;
    background-color: #f3fbbb;
    box-sizing: border-box;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input,
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 80px;
}

.radio-group label,
.checkbox-group label {
    display: block;
    font-weight: normal;
    margin-top: 6px;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #2ecc71;
    color: rgb(0, 0, 0);
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #d1c7c7;
}
